:root {
  --foreground: #eee;
  --background: #1e2522;
  --linkColor: #8ee244;
  --highlightColor: #c4e835;
  --fontPrimary: 'Share Tech Mono', monospace;
  --fontSecondary: 'Roboto Slab', monospace;
  --fontMono: 'Silkscreen', monospace;
  --backgroundDarker: #1a201d6d;
  --backgroundLighter: #33413ac3;
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  font-family: var(--fontSecondary);
  color: var(--foreground);
  font-size: 16px;
}

.container {
  border: 1px solid #475243;
  border-radius: 4px;
  margin: 5% auto;
  padding: 6%;
  position: relative;
  max-width: 1000px;
  box-shadow: 0px 0px 5px 1px #446c2126;
  min-height: 78vh;
}

header {
  z-index: 1;
  display: flex;
  align-items: flex-start;
}

h1.pageTitle {
  font-family: var(--fontMono);
  font-size: min(5rem + 1vw, 7rem);
  max-width: 30rem;
  line-height: 1em;
  margin: 50px 0 150px 20px;
}

h1.pageTitle b {
  font-size: 1.3em;
}

img.sandbox {
  display: block;
  width: clamp(60px, 15rem, 200px);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border: 9px solid #fff;
  padding: 1em;
  margin-top: 72px;
  border-radius: 3px;
}

.postGrid {
  display: flex;
  flex-wrap: wrap;
}

.link {
  font-size: 14px;
  border: 1px solid #666;
  padding: 30px;
  overflow: hidden;
  width: clamp(200px, 30%, 350px);
  aspect-ratio: 1/1;
  background-color: var(--backgroundDarker);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: 0.8s;
  zoom: 1;
}

.link:hover {
  background-color: var(--backgroundLighter);
  border-color: #AAA;
  box-shadow: 0px 1px 5px 3px #70e40b26, inset 0px 1px 11px 9px #1f26184f;

}

.link span.title {
  font-size: clamp(22px, 3vw, 32px);
  word-wrap: break-word;
  font-family: var(--fontPrimary);
  margin-bottom: 5px;
  color: var(--foreground);
  padding: 4px 8px 4px 4px;
  margin-left: -4px;
  display: block;
}

span.title:hover {
  transition: .6s;
  background-color: var(--highlightColor);
  color: var(--background);
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

a:visited {
  opacity: 0.8;
}

a:hover {
  color: var(--highlightColor);
}


span.url {
  margin: 0 0 20px;
  padding: 0;
  line-height: 10px;
  display: block;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  word-wrap: break-word;
}

span.description {
  margin: 0;
}

span.category {
  font-size: 12px;
  background-color: var(--foreground);
  padding: 2px 5px;
  color: var(--background);
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--fontSecondary);
}

.postGrid span.category {
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 10px;
}

span.category-ui {
  background-color: #e6bf23;
}

span.category-fullstack {
  background-color: #24c7ecba;
}

span.category-js {
  background-color: #f42c79b0;
}

/* -- Footer Styles */
footer {
  text-align: center;
  font-family: var(--fontMono);
  font-size: 12px;
  margin: 50px auto;
  opacity: .5;
}

footer:hover {
  opacity: 1;
}


/* -- Navigation Styles */

nav {
  position: absolute;
  top: 130px;
  right: 100px;
  font-family: var(--fontMono);
  z-index: 2;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  margin: 0 0 10px;
  text-align: right;
}

nav ul li a {
  padding: 4px 8px;
}

nav ul li a.selected {
  background-color: var(--linkColor);
  color: var(--background);
}

nav ul li a.selected:before,
nav ul li a:hover:before {
  content: '> ';
}

nav ul li a:hover {
  background-color: var(--highlightColor);
  color: var(--background);
}


/* -- Single Note */

.singleNote {
  padding: 100px;
}

.singleNote header {
  flex-direction: column;
}

.singleNote h1.pageTitle {
  font-size: 3rem;
  margin: 20px 0 50px 0;
}

.noteText {
  font-size: 18px;
  width: 80%;
  line-height: 26px;
}

.noteText img {
  max-width: 100%;
  height: auto;
}

.singleNote .note .meta {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: baseline;
  font-family: var(--fontMono);
}

.errorPage {
  text-align: center;
  margin: 100px;
  padding: 100px;
}

.errorPage h1 {
  font-size: 12em;
}

pre {
  background: #282c34;
  padding: 1em;
  border-radius: 0.5em;
  font-size: 0.85em;
  overflow: auto;
}