@media (max-width: 800px) {

    .container{
        min-width:330px;
        padding:40px;
        margin-top:0;
    }

    h1.pageTitle {  
    font-size: 3rem;
    width: auto;
    margin: 20px 110px 100px 0;
    }

    img.sandbox{
        width: clamp(60px,5rem,200px);
        border-width: 6px;
        margin-top: 1.5em;
        margin-right: 15px;  
        border-radius: 3px;
    }

    nav{
        top:20px;
        right:20px;
    }

    .singleNote{
        padding-top: 100px;
    }

    .singleNote nav{
        top: 0;
        right: 0;
        width: 100%;
    }

    .singleNote nav ul{
        display: flex;
        justify-content: space-around;
        padding: 20px 0 10px;
    }

    .link{
        width: 100%;
        max-width: 225px;
    }

    .link span.title {
        font-size: 32px;
    }

    header {
        flex-wrap: wrap;
    }

    .noteText {
        width: 100%;
    }

}

@media (max-width: 620px) {
    .link{
        max-width: 75%;
        margin: 0 auto;
    }
}



@media only screen and (min-width: 1400px) {

  
  
  }