@media (max-width: 768px) {

    .container{
        min-width:330px
    }

    h1.pageTitle {  
    font-size: 3rem;
    width: auto;
    margin: 20px 110px 100px 0;
    }

    img.sandbox{
        width: clamp(60px,5rem,200px);
        border-width: 6px;
        margin-top: 1.5em;
        margin-right: 15px;  
        border-radius: 3px;
    }

    nav{
            top: 20px;
    right: 20px;
    }

    .link{
        width: 50%;
    }

    .link span.title {
        font-size: 32px;
    }

    header {
        flex-wrap: wrap;
    }

}



@media only screen and (min-width: 1400px) {

  
  
  }